@import url(https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap%27);
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap%27);
@import url(https://fonts.googleapis.com/css2?family=Chenla&display=swap%27);

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:  #C5DFFF;

}

.item {
    width: 330px;
    height: 270px;
    left: 18px;
    top: 106px;
    display: inline-block;
    margin-left: 18px;
    margin-top: 44px;
    background: #FFFFFF;
    border-radius: 20px;
}

#texto1 {
    width: 175px;
    height: 68px;
    left: 32px;
    top: 296px;
    
    padding-left: 14px;
    padding-right: 56px;
    padding-bottom: 12px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

    color: #000000;

}

.textos {
    display: flex;
    flex-direction: row;
}

#imagem {
    margin-top: 13px;
    margin-left: 9px;
    margin-bottom: 8px;
}

#adiçãoItems {
   padding-left: 8px;
}

#valorProdutos {
    width: 51px;
    height: 41px;
    left: 268px;
    top: 288px;
    margin-right: 22px;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    
    color: rgba(30, 30, 30, 0.81);
}

#cep {
    width: 132px;
    height: 25px;
    left: 18px;
    top: 396px;
    margin-top: 20px;
    margin-bottom: 2px;
    padding-left: 14px;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;

    color: #000000;

}

#cepCliente {
    margin-left: 11px;
    padding-left: 12px;
    padding-right: 5px;
    border: #FFF;
    border-radius: 20px;
    width: 80px;
    height: 28px;
    left: 20px;
    top: 416px;
    font-family: 'GFS Neohellenic';
    font-style: normal;

    background: #FFFFFF;
}

#freteCliente {
    width: 68px;
    height: 30px;
    left: 220px;
    top: 415px;
    border-radius: 20px;
    align-items: center;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    

    background: #FFFFFF;
}

#preenchimentoCEP {
    display: flex;
    flex-direction: row;

}

#textoCEP {
    width: 66px;
    height: 35px;
    left: 132px;
    top: 414px;
    margin: 0px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;

    color: #000000;
}

#valorFrete {
    width: 44px;
    height: 16px;
    left: 229px;
    top: 421px;
    padding-top: 7px;
    padding-left: 6px;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    margin: 0px;

    color: #4B4949;

}

#pagamento {
    width: 194px;
    height: 20px;
    left: 16px;
    top: 469px;
    padding-left: 14px;
    padding-top: 20px;
    margin-bottom: 12px;
    margin-top: 0px;

    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

#cartaoDeCredito {
    padding-top: 23px;
}

#parcelas {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-left: 5px;
    width: 330px;
    height: 39px;
    left: 16px;
    top: 620px;

    background: #FFFFFF;
    border-radius: 20px;
}
#parcelas > p {
    padding-left: 14px;
    padding-top: 8.5px;
    width: 118px;
    height: 17px;
    left: 30px;
    top: 631px;
    margin: 0px;

    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: rgba(0, 0, 0, 0.78);
}

#parcelas > img {
    padding-left: 159px;
}

#botaoAzul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px;
    height: 47px;
    left: 48px;
    top: 707px;

    background: #1052A8;
    border-radius: 10px;
}
#botaoAzul:active{
    background-color: #8CBEFF;
}

.finalizarCompra {
    padding-top: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#texto2 {
    padding: 9px 60px 6px 20px;
    margin: 0px;
    width: 135px;
    height: 27px;
    left: 118px;
    top: 719px;
    white-space: nowrap;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

#sacola {
    padding-left: 3px;
}

a {
    text-decoration: none;
}



/* Side Bar */
.sidebar{
    height: 100vh;
    width: 200px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    left: -200px;
    border-radius: 10px;
    transition: all 0.3s linear;
}


.sidebar .sidebarTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 70px;
    position: absolute;
    height: 60px;
    width: 30%;
}

.sidebar .sidebarTitulo img{
    width: 60px;
    height: 60px;
}

.sidebar .sidebarTitulo p{
    white-space: nowrap;
}

.sidebar .sidebarMenu{
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar .sidebarMenu .sideBarOptions{
    margin-top: 40px;
}

.sidebar .sidebarMenu li{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
   
    padding: 14px 15px;
    border-radius: 10px;
    align-items: center;
}
.sidebar .sidebarMenu .logoutIcon{
    position: absolute;
    top: 600px;
}

.sidebar .sidebarMenu li:hover{
    background-color: rgba(0, 0, 0, 0.1);;
}

.sidebar .sidebarMenu img{
    padding-right: 8px;
}

.sidebar .sidebarMenu a{
    color: black;
    font-family: 'Chenla', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.sidebar .botaoFechar{
    position: absolute;
    line-height: 60px;
    left: 160px;
}

.botoesSideBar{
    border: none;
    outline: none;
    background-color: transparent;
}

/* ToolBar */
.caixaCatalogo {
    display: flex;
    margin: 10px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botoesCaixaCatalogo{
    border: none;
    outline: none;
    background-color: transparent;
}

.botoesCaixaCatalogo:active{
    background-color: #8CBEFF;
}

#menuIcon{
    justify-content: center;
    align-items: center;
    margin-left: 13.5px;
    margin-top: 4.5px;
}

#Texto{
    margin-left: 50px;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

#Texto h1{
    font-family: 'Chenla', sans-serif;
    font-weight: 400;
    color: #83A5B7
}

#shoppingcartaccountIcon{
    margin-right: 10px;
    align-items: flex-end;
}
