* {
    margin: 0;
    padding: 0;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 375px;
    height: 812px;
}

.toolbar {

    display: flex;
    width: 338px;
    height: 48px;
    left: 19px;
    top: 14px;

    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 1em;

}

.icons {
    margin: 1em;
}


#quiz {

    font-family: 'Chenla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    margin-left: 2.5em;
    text-align: center;

    color: #83A5B7;
}

.title {
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #1646EE;

    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.question {
    width: 338px;
    height: 48px;
    left: 18px;
    top: 129px;
    margin-bottom: 1em;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#pergunta {
    margin-top: 1em;
}

.text {
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #A7A8AA;
}

.options {
    width: 138px;
    height: 48px;
    left: 213px;
    top: 222px;
    margin: 1em;

    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#option {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em;
}

.enviar {
    width: 331px;
    height: 48px;
    left: 20px;
    top: 406px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin: 0.6em;

    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 27.7895px;
    line-height: 32px;
    text-align: center;

    color: #A7A8AA;
}

#foto {
    width: 314px;
    height: 278.75px;
    left: 43px;
    top: 497px;
    margin: 2em;

}