*{
    margin:0;
    padding:0;
}

.row{
    margin:0;
}

#opcoes{
    display: flex;
    justify-content: center;
}

.btn-group{
    display:flex;
    flex-wrap: nowrap;
}

.btn-group label{

    background-color: #FFFFFF;
    background: #FFFFFF;
    color: #A7A8AA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 10px;
    border: none;
    margin: 10px;
    width: 100%;
    text-align: center;


    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;

}
