@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Chenla&display=swap%27');

/* Geral */
*{
    margin:0;
    padding:0;
}

.row{
    margin:0;
}

#suport {
    padding: 60px;
}


/*Copyright*/

#copyArea {
    background-color: #f1f1f1;
}

#copyArea .container {
    padding: 10px 0;
    text-align: center;
}

#copyArea .container p {
    margin-bottom: 0;
}

#copyArea .container a {
    font-weight: bold;
    text-decoration: none;
}


/* Navbar */
#navbar {
    background-color: #1052A8;;
}

#navbarTitle {
    color: #fff;
}

#navbarLinks {
    color: #fff;
    padding: 1rem 2rem;
}

#navbarIcons {
    color: #fff;
    margin-right: 1.5rem;
}

#logo {
    width: 90px;
}

#navbarSearchButton {
    background-color: #0f3464;;
    color: #fff;
    border: none;
    border-radius: 7px;
}

#navbarInputSearch {
    border-radius: 0px;
}

/* Título */

#tittle {
    margin-left: 0;
}

#tittle h2{
    font-family: 'Chenla';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;

    line-height: 37px;
    text-align:start ;

    color: #83A5B7;
}

/* Itens do Carrinho */

#cartItens {
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: solid;
    border-top-width: 2px;
    border-top-color: #83A5B7;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: #83A5B7;
}

#itemDescription {
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

div > p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

    color: #000000;
}

input[type="image"]:hover {
    background-color: #83A5B7;
    border-radius: 6px;
}

input[type="text"]:focus {
    border: 3px solid #555;
}

#price {
    margin-top: 10px;
    padding-left: 5px;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;

    color: rgba(30, 30, 30, 0.81);
}

#itemQtd {
    display: flex;
    align-items: center;
    align-content: center;
}

/* Cep e Frete */

#cep {
    display: flex;
    align-items: center;
    padding-top: 18px;
    margin: 0;
}

div > h5 {
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;

    color: #000000;
}

#cepArea {
    width: 30%;
    border-radius: 15px; 
    border-color:rgba(0, 0, 0, 0.384);
}

#shipping {
    padding-left: 3px;
    text-align: left;
    width: 18%;
    border-radius: 15px; 
    border-color:rgba(0, 0, 0, 0.384);
}

#shipping::placeholder {
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;

    color: rgba(34, 34, 34, 0.555);
}

/* Pagamento */

#payment {
    margin-top: 20px;
    margin-left: 0;
}

#pix {
    padding-right: 15px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

#creditCard {
    padding-right: 26px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

input[type="radio"] {
    width: 24px;;
    height: 30px;
}

#installment {
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: start;
    margin-top: 20px;
    width: 330px;
    height: 39px;
    padding-right: 5px;
    padding-top: 1px;
}

#installmentOptions
,#installmentOptions > option{
    border-radius: 20px; 
    width: 330px;
    height: 35px;
    padding-left: 6px;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.78);
}

#checkout {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 259px;
    height: 47px;
    left: 48px;
    top: 707px;
    
}

