@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap%27');

/* Geral */

*{
    margin:0;
    padding:0;
}

.row{
    margin:0;
}

#botoes{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#image{
    display:flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 30px;
}