@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap%27');

/* Geral */

*{
    margin:0;
    padding:0;
}

.row{
    margin:0;
}

/*main*/
#title {
    margin-top: 140px;
    background-color: #ffffff;
}

#title h2 {
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    text-align: center;

    color: #1646EE;
}

#question {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-top: 40px;
    margin-bottom: 40px;

}

#question p {
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 40px;

    text-align: center;

    color: #A7A8AA;
}

#image{
    display:flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 30px;
}