.pagination{
    display: flex;
    list-style: none;
}

.pagination li + li{
    margin-left: 0.5rem;
}

.pagination__itemActive {
    background: none;
    font-weight: bold;
    border: none;
}

.pagination__itemActive:focus{
    outline: none;
}